 <!-- >>> START <<< -->

 <!-- carousel.ejs -->
  
 <div id="carouselExample" class="carousel slide w-100" >
    <div class="carousel-inner">

      <div class="carousel-item mt-5 active">
        <div class="card rounded-4 mx-4 mt-5 mx-auto" style="width: 85%; position: relative;">
          <img
            src="/images/main-background.png"
            class="img-fluid rounded-4"
            style="object-fit: cover; height: 300px"
          />
      
          <div class="position-absolute text-center p-4 d-flex rounded-4 justify-content-center align-items-center flex-column"
               style="background-color: #E6E6DD; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <h3 class="fw-bold" style="color: #1c3c40">
              Reader View
            </h3>
            <p class="mx-4 mb-0">Visit our author's blogs to read more of their content or browse through all the articles SG Odyssey has to offer! 
              Happy reading!</p>
          </div>
        </div>
      </div>
      

      <div class="carousel-item mt-5">
        <div class="card rounded-4 mx-4 mt-5 mx-auto" style="width: 85%">
          <img
            src="/images/about.png"
            class="img-fluid rounded-4"
            style="object-fit: cover; height: 300px"
          />

          <div class="position-absolute m-3">
            <h3 class="fw-bold" style="color: #1c3c40">
              Want to have your own <br />
              blog?
            </h3>
            <a href="/author/login">
              <button class="rounded-pill px-3 py-1 mt-auto fw-medium">
                Join our community!
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev ms-4 rounded-4"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next me-4 rounded-4"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
  crossorigin="anonymous"
></script>

<!-- >>> END <<< -->