<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Icon -->
  <link rel="icon" type="image/x-icon" href="/images/logo.png" />

  <!-- Library import -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />

  <!-- CSS import -->
  <link rel="stylesheet" type="text/css" href="/main.css" />

  <!-- Website title + logo -->
  <title>SG Odyssey</title>
</head>

<body class="author-login d-flex justify-content-center align-items-center w-100">
  <div class="row login-card rounded-4 d-flex flex-row w-75">
    <div class="w-50 p-0">
      <a href="/author/main">
        <button
          class="position-absolute m-3 rounded-pill px-3 py-1 fw-medium border-0"
          style="z-index: 100;"
        >
          Go back
        </button>
      </a>

      <img
        src="/images/main-background.png"
        class="img-fluid rounded-4"
        style="object-fit: cover; height: 500px"
      />
    </div>

    <div
      class="z-3 p-5 position-absolute end-0 h-100 rounded-4"
      style="width: 100%; background-color: #E6E6DD;"
    >
      <form id="editBlogForm" class="mt-4">
        <h3 class="fw-bold">Edit your blog!</h3>

        <input
          type="hidden"
          id="blog_id"
          name="blog_id"
          value="<%= blog.blog_id %>"
        />

        <div class="mb-3">
          <label for="author_name" class="form-label mb-0">Change your username!</label>
          <div id="authornameHelp" class="form-text">
            Note: This is what you will use to login as your 'username', password will remain the same!
          </div>
          <input
            type="text"
            class="form-control"
            id="author_name"
            name="author_name"
            value="<%= author.author_name ? author.author_name : '' %>"
            aria-describedby="authornameHelp"
            required
          />
        </div>

        <div class="mb-3">
          <label for="blog_title" class="form-label">Rename your blog here!</label>
          <input
            type="text"
            class="form-control"
            id="blog_title"
            name="blog_title"
            value="<%= blog.blog_title ? blog.blog_title : '' %>"
            aria-describedby="authornameHelp"
            required
          />
        </div>
        <div class="mb-3">
          <label for="blog_subtitle" class="form-label">Add a new subtitle to it!</label>
          <input
            type="text"
            class="form-control"
            id="blog_subtitle"
            name="blog_subtitle"
            value="<%= blog.blog_subtitle ? blog.blog_subtitle : '' %>"
            required
          />
        </div>

        <div class="w-100 d-flex justify-content-end">
          <button
          type="submit"
          class="rounded-pill px-3 py-1 mt-auto fw-medium"
        >
          All done!
        </button>
        </div>
      </form>

      <img
        src="/images/plane.png"
        class="img-fluid position-absolute start-0 bottom-0"
        style="height: 100px; width: 150px;"
      />
    </div>
  </div>

  <script>
    document.getElementById("editBlogForm").addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent form submission

      const author_name = document.getElementById("author_name").value;
      const blogId = document.getElementById("blog_id").value;
      const titleElement = document.getElementById('blog_title');
      const subtitleElement = document.getElementById('blog_subtitle');

      if (!blogId || !titleElement || !subtitleElement) {
        console.error('One or more form elements not found or empty.');
        return;
      }

      const bodyData = {
        author_name: author_name,
        blog_id: blogId,
        blog_title: titleElement.value,
        blog_subtitle: subtitleElement.value
      };

      fetch(`/blog/edit`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(bodyData)
      })
      .then(response => response.json())
      .then(data => {
          console.log('Update successful:', data);
      })
      .catch(error => {
        console.error('Error updating post:', error);
        window.location.href = '/author/main';
      });
    });
  </script>
</body>
</html>
