/* Define styles */

/* 
* white: #FFFFFF
* main white: #E6E6DD
* light green: #A6BCB8
* dark green: #24474B
* accent (orange): #E4AA92 , #DC6A61
*/

body {
  background-color: #E6E6DD;
  color: #365d5c;
}

/* general button */

button {
  border: solid 2px #24474B;
  background-color: #E6E6DD;
  color: #24474B;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  border: solid 2px #24474B;
  color: #E6E6DD;
  background-color: #24474B;
}

/* navbar */

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: #E6E6DD;
  --bs-navbar-hover-color: #E6E6DD;
  --bs-navbar-disabled-color: rgba(54, 93, 92, 0.3);
  --bs-navbar-active-color: #E6E6DD;
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: #E6E6DD;
  --bs-navbar-brand-hover-color: #E6E6DD;
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 30 30"%3e%3cpathstroke="rgba(54, 93, 92, 0.75)"stroke-linecap="round"stroke-miterlimit="10"stroke-width="2"d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e
  );
  --bs-navbar-toggler-border-color: rgba(
    54,
    93,
    92,
    0.15
  );
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.bg-body-tertiary {
  opacity: 1;
  background-color: #24474B !important;
}

/* Modal */

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #365d5c;
  pointer-events: auto;
  background-color: #E6E6DD;
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

/* Badge */

.badge {
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #E6E6DD;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}

/* Card component */

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: 0;
  --bs-card-border-color: transparent;
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: 0;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #A6BCB8;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border-radius: var(--bs-card-border-radius);
  box-shadow: var(--bs-card-box-shadow);
  color: #365d5c;
}

/* Role card */

.role-card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: 0;
  --bs-card-border-color: transparent;
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1); 
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #E6E6DD;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border-radius: var(--bs-card-border-radius);
  box-shadow: var(--bs-card-box-shadow);
  color: #365d5c;
}

.role-icon svg {
  color: #E6E6DD;
}

/* Main page */

.role-scroll-up {
  background-color: #24474B; 
  z-index: 2; 
  height: 500px
}

.role-scroll-up h1 {
  color: #E6E6DD;
}

/* Main reader page */

.carousel-control-prev,
.carousel-control-next {
  background-color: #A6BCB8;
  color: #24474B;
  height: 50px;
  width: 50px;
  top: 50%;
  transform: translateY(35%);
  opacity: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #24474B;
  color: #E6E6DD;
  height: 50px;
  width: 50px;
  top: 50%;
  transform: translateY(35%);
  opacity: 100%;
}

/* Author login page */

.author-login {
  background-color: #24474B;
  height: 100vh;
}

.login-card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: 0;
  --bs-card-border-color: transparent;
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3); 
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #A6BCB8;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border-radius: var(--bs-card-border-radius);
  box-shadow: var(--bs-card-box-shadow);
  color: #365d5c;
}

/* Author main page */

.article-card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: 0;
  --bs-card-border-color: transparent;
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: 0;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #A6BCB8;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border-radius: var(--bs-card-border-radius);
  box-shadow: var(--bs-card-box-shadow);
  color: #365d5c;
}